// Btn module styles BEGIN

.btn {
  @extend .btn-control;
  border-color: $btnColor;
  color: $btnColor;
  background-color: $btnBgColor;

  &:hover, &:active {
    color: #fff;
    background-color: $btnColor;
  }
}

// Btn module styles END