// Design module styles BEGIN

.design {
  @extend .mobile-block;

  h4.title {
    color: $copyrightsColor;
    font-family: $baseFont;
    font-size: em(10);
    text-transform: uppercase;
    letter-spacing: em(1, 10);
  }
}

// Design module styles END