// Description module styles BEGIN

h4.description {
  margin: em(8, 18) 0;
  color: $titleTextColor;
  font-weight: 100;
  font-size: em(16);
  text-align: center;
  letter-spacing: 0.7px;
}

// Description module styles END