// Label module style BEGIN

.label {
  display: inline-block;
  padding: em(4,10) em(14, 10);
  background-color: $stepLabelBgColor;
  color: $stepLabelColor;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $baseFont;
  letter-spacing: 2px;
  font-size: em(10);

  @include border-radius(em(40, 10));
}

// Label module style BEGIN