// Label module style BEGIN

.label {
  display: inline-block;
  padding: em(6, 10) em(15, 10);
  background-color: $stepLabelBgColor;
  color: $stepLabelColor;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: em(10);

  @include border-radius(em(40, 10));
}

// Label module style BEGIN