// Links module styles BEGIN

.links {

  @extend .mobile-block;

  h4.title {
    margin-bottom: 3px;
    color: $titleTextColor;
    font-family: $baseFont;
    font-size: em(14);
    font-weight: 700;
  }
  
  li {

    @media screen and (max-width: $mobileWidth) {
      display: inline-block;
    }

    display: block;
    vertical-align: top;
    margin-right: em(13);

    &:last-child {
      margin-right: 0;
    }
  }
  
  a {
    color: $descriptionColor;
    font-size: em(14);
    font-weight: 300;
    font-family: $secondaryFont;
  }
}

// Links module styles END