// Logo light module styles BEGIN

.logo-light {
  @media screen and (max-width: $mobileWidth) {
    text-align: center;
  }

  color: $logoLightColor;
  font-family: $baseFont;
  font-size: em(20);
  font-weight: 700;
  letter-spacing: 1px;
}

// Logo light module styles END