// Partners list module styles BEGIN

.partners-list {
  .partner {
    margin-bottom: em(29);

    @media screen and (min-width: $mobileWidth + 1) {
      margin-top: em(6);
    }

    .name {
      margin-bottom: em(12, 14);
      color: $titleTextColor;
      font-family: $baseFont;
      font-size: em(14);
      font-weight: 700;
      text-align: center;
    }

    p {
      margin-top: em(12, 14);
      color: $descriptionColor;
      font-size: em(14);
      font-weight: 300;
      font-family: $secondaryFont;
      text-align: center;
    }
  }

  .partner-img {
    margin-bottom: em(16);
  }


  img {
    @include border-radius(em(60));
    display: block;
    margin: 0 auto;
  }

  svg {
    display: none;
  }
}

// Partners list module styles END