// Title module styles definiton BEGIN

h3.title {
  margin-bottom: em(15, 22);
  color: $titleTextColor;
  font-size: em(22);
  text-align: center;
  letter-spacing: 0.7px;
}

// Title module styles definiton BEGIN