// Base style rules definition BEGIN

* > * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

ul, ol, li {
  list-style: none;
}

body {
  backgroung: #fff;
}

// Base style rules definition END