// Variables definition BEGIN

// Colors BEGIN


$logoLightColor: #fff;
$logoColor: #ff4e50;
$cardColor: #fff;
$titleTextColor: #333;
$descriptionColor: #666;
$inverseTitleTextColor: #fff;

$stepLabelBgColor: #ff4e50;
$stepLabelColor: #fff;
$stepTitleColor: #fff;
$stepDescriptionColor: #ccc;

$btnColor: #ff4e50;
$btnBgColor: rgba(0,0,0,0);

$btnDarkColor: #fff;
$btnDarkBgColor: #ff4e50;

$inputBorderColor: #ccc;
$inputColor: #999;

$copyrightsColor: #ccc;

// Colors END

// Fonts BEGIN

$baseFont: "Montserrat", sans-serif;
$secondaryFont: "Roboto", Helvetica, Arial, sans-serif;

// Fonts END

// Width BEGIN

$mobileWidth: 400px;
$tabletWidth: 768px;

// Width END

// Animation BEGIN

$controlBezier: cubic-bezier(0.8, 0.1, 1, 1);

// Animation END

// Variables definition END