// Variables definition BEGIN

// Colors BEGIN

$logoLightColor: #fff;
$logoColor: #ff4e50;
$cardColor: #fff;
$titleTextColor: #333;
$descriptionColor: #666;
$inverseTitleTextColor: #fff;

$stepLabelBgColor: #ff4e50;
$stepLabelColor: #fff;

$btnColor: #ff4e50;
$btnBgColor: rgba(0,0,0,0);

$btnDarkColor: #fff;
$btnDarkBgColor: #ff4e50;

$inputBorderColor: #ccc;
$inputColor: #999;

$copyrightsColor: #ccc;

// Colors END

// Variables definition END