doctype html
html
    head
       title Urlaubsglück
       meta(name='viewport' content='width=device-width, initial-scale=1')
       link(rel='stylesheet' href='../css/main.css')
    body
        header.l-header
            .container
                .sign-in
                    a(href='#') Log in
                    a(href='#').is-active Sign up
                .logo-light URLAUBSGLÜCK
                h1.tagline Share your holiday dreams
                h2.tagline-description And find the perfect partner to fulfill it
                button.btn-dark Find your holiday partner
        main.l-content
            .container
                section.promo
                    h3.title How Urlaubsglück works?
                    ul.step-list
                        li.step-one
                            .label
                                span.text Step 1
                            ul.sub-step-list
                                li.is-active
                                    .step-title Sed leo enim, condimentum
                                    .step-description.
                                        Quisque libero libero, dictum non turpis in,
                                        luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                                li
                                    .step-title Morbi velit risus
                                    .step-description.
                                        Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
                                        sit amet porttitor est.
                                li
                                    .step-title Sed leo enim, condimentum
                                    .step-description.
                                        Quisque libero libero, dictum non turpis in,
                                        luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                        li.step-two
                            .label
                                span.text Step 2
                            ul.sub-step-list
                                li.is-active
                                    .step-title Morbi velit risus
                                    .step-description.
                                        Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
                                        sit amet porttitor est.
                                li
                                    .step-title Sed leo enim, condimentum
                                    .step-description.
                                        Quisque libero libero, dictum non turpis in,
                                        luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                                li
                                    .step-title Morbi velit risus
                                    .step-description.
                                        Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
                                        sit amet porttitor est.                      li
                        li.step-three
                            .label
                                span.text Step 3
                            ul.sub-step-list
                                li.is-active
                                    .step-title Sed leo enim, condimentum
                                    .step-description.
                                        Quisque libero libero, dictum non turpis in,
                                        luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                                li
                                    .step-title Morbi velit risus
                                    .step-description.
                                        Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
                                        sit amet porttitor est.
                                li
                                    .step-title Sed leo enim, condimentum
                                    .step-description.
                                        Quisque libero libero, dictum non turpis in,
                                        luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                section.partners
                    h3.title Meet a partner for your best holiday
                    ul.partners-list
                        li.partner
                            .partner-img
                                img(src='./img/partner_0.jpg')
                                svg.icon-tv
                            .partner-description
                                .name Bradley Hunter
                                p.
                                    Based in Chicago. I love playing tennis and loud music.
                        li.partner
                            .partner-img
                                img(src='./img/partner_1.jpg')
                                svg.icon-lab
                            .partner-description
                                .name Lucas Marsha
                                p.
                                    I get my inspiration from nature and objects around me. I have a passion to colours,
                                    typography and skateboards.
                        li.partner
                            .partner-img
                                img(src='./img/partner_2.jpg')
                                svg.icon-cup
                            .partner-description
                                .name Healther Walker
                                p.
                                    I'm a happy person that loves cats and climbing on mountains
                        li.partner
                            .partner-img
                                img(src='./img/partner_3.jpg')
                                svg.icon-plane
                            .partner-description
                                .name Bradley Hunter
                                p.
                                    Based in Chicago. I love playing tennis and loud music.

                    button.btn See other partners
                section.cards
                    h3.title Discover holiday activity ideas
                    ul
                        li.card.idea-sport
                            h4.title Sport and Activity
                        li.card.idea-health
                            h4.title Wellnes and Health
                        li.card.idea-expeditions
                            h4.title Extreme Sports and Expeditions
                        li.card.idea-games
                            h4.title Games
                        li.card.idea-culture
                            h4.title Culture and Education
                        li.card.idea-relaxation
                            h4.title Relaxation
                        li.card.idea-travelling
                            h4.title Travelling
                section.search-partner
                    h3.title Discover holiday activity ideas
                    h4.description Hi! What are your holiday interests?
                    .search
                        input(type='text' placeholder='Enter your interests').input-control
                        button.btn-dark Search partners
        footer.l-footer
            .container
                .logo
                    span URLAUBSGLÜCK
                nav.links
                    h4.title Company
                    ul
                        li
                            a(href='#') About
                        li
                            a(href='#') Contacts
                        li
                            a(href='#') Press
                        li
                            a(href='#') Blog
                nav.links
                    h4.title Partners
                .design
                    h4.title Designed by
                    .icon-design
